.works-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 100px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.how-works-text{
    text-align: center;
    color: #571194;
}
.works-wrapper{
    background-color: #E5F7F3;
    padding: 30px 20px;
    margin-bottom: 50px;
}


@media screen and (max-width: 680px) {
    .works-container{
        grid-template-columns: 1fr;
    }
}